@import "_vars";
@import "_global";
@import "_fonts";

// start Landing page
// start top

.top {
    padding-top: 24px;
    // background: #6cc570;
    background-image: url(../images/top-bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 180px;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-bottom: 120px;
    position: relative;
}
.menu_btn {
    display: none;
    padding: 13px 11px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 2px solid #3d3e47;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
    .menu_btn_line {
        width: 23px;
        height: 2px;
        background: #3d3e47;
        & + .menu_btn_line {
            margin-top: 8px;
        }
    }
}

.top_bg_cloud {
    position: absolute;
    right: -760px;
    height: 1678px;
    width: 1807px;
}
.header_logo {
    height: 72px;
    margin-left: -15px;
}
.header_line {
    z-index: 1;
}
.menu {
    display: inline-block;
}
.menu_list {
    margin-left: 30px;
    li {
        display: inline-block;
        margin-right: 59px;
        &.active_page {
            font-weight: 700;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.sign_up_btn {
    width: 167px;
    padding: 11px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    letter-spacing: 0px;
    color: #ffffff;
    transition: all 0.2s;
    &:hover {
        opacity: 0.7;
    }
}
.top__inner {
    display: flex;
    justify-content: space-between;
}
.plagiarism_checker {
    margin-top: 100px;
    max-width: 850px;
    width: 100%;
    color: #ffffff;
    display: block;
}
.checker_text {
    position: relative;
    height: 100px;
    width: 100%;
    box-shadow: 0px 22px 51px #b1bdda29;
    border: 1px solid #e4e6f2;
    border-radius: 15px;
    padding: 33px 23px;
    margin-bottom: 42px;
    resize: none;
    transition: all 0.4s;
    outline: none;
    display: flex;
    align-items: center;
    &::placeholder {
        letter-spacing: 0.36px;
        color: #2f346166;
    }
    &.checker_text_active {
        height: 392px;
    }
    &:hover {
        cursor: pointer;
    }
}
.checker_text_wrapper {
    position: relative;
}
.checker_text_count {
    position: absolute;
    bottom: 70px;
    right: 24px;
    font-size: 18px;
    background: blue;
    border-radius: 23px;
    padding: 7px 20px;
    display: none;
    opacity: 0.8;
    &.checker_text_count_active {
        display: block;
    }
    &.checker_text_count_red {
        background: red;
    }
}
.progress_bar {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 25px;
    max-width: 543px;
    width: 100%;
    height: 289px;
    background: #ffffff;
    box-shadow: 0px 3px 8px #0000000d;
    border: 1px solid #e4e6f2;
    border-radius: 13px;
    text-align: center;
    padding: 57px 51px;
    p {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 1.17px;
        color: #3d3e47;
    }
    &.progress_bar_active {
        display: block;
    }
}
.progress_bar_start {
    margin-bottom: 21px;
}
#greyProgress {
    max-width: 441px;
    width: 100%;
    background: #f5f5f5;
    border: 3px solid #ebebeb;
    border-radius: 33px;
    margin-bottom: 21px;
}
#greenBar {
    width: 10%;
    height: 24px;
    background: #73cf74;
    border-radius: 33px;
    transition: all 0.1s;
}
.plagiarism_checker_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 75px;
    line-height: 90px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.plagiarism_checker_text {
    letter-spacing: 0.36px;
    margin-bottom: 42px;
}
.plagiarism_checker_btns {
    display: flex;
    a:hover {
        opacity: 0.9;
    }
}
.upload_file_btn {
    display: flex;
    align-items: center;
    width: 289px;
    min-width: 289px;
    max-width: 289px;
    height: 80px;
    width: 100%;
    margin-right: 50px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 23px 67px;
    text-align: center;
    img {
        margin-right: 10px;
    }
}
.check_btn {
    align-items: center;

    background: #3d3e47;
    border-radius: 15px;
    padding: 28px 33px;
    text-align: center;
    min-width: 320px;
    width: 320px;
    height: 80px;
    display: none;
    img {
        margin-right: 10px;
        display: inline-block;

        // width: 100%;
    }
    span {
        display: inline-block;
    }
    &.check_btn_active {
        // display: block;
        display: flex;
    }
}
.check_btn_inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.check_continue_btn {
    align-items: center;
    justify-content: space-around;
    background: #3d3e47;
    border-radius: 15px;
    padding: 24px;
    width: 350px;
    min-width: 350px;
    display: none;
    text-align: center;
    &.check_continue_btn_active {
        display: flex;
        // display: block;
    }
}
.form_slider {
    position: relative;
    max-width: 571px;
    width: 100%;
    margin-right: 43px;
    margin-left: 60px;
}
.slider_item {
    max-width: 571px;
    width: 100%;
    border-radius: 15px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    input {
        box-shadow: 0px 22px 51px #b1bdda29;
        border: 1px solid #e4e6f2;
        border-radius: 15px;
        height: 83px;
        max-width: 432px;
        width: 100%;
        padding: 25px;
        margin-bottom: 21px;
        outline: none;
        &::placeholder {
            letter-spacing: 0.36px;
            color: #2f346166;
            text-align: center;
        }
    }
    button {
        padding: 24px;
        text-align: center;
        background: linear-gradient(180deg, #88dd8c 0%, #49b444 100%);
        border-radius: 15px;
        height: 83px;
        max-width: 432px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        color: #ffffff;
    }
    &:hover {
        cursor: pointer;
    }
}
.slider_item_top {
    height: 290px;
    background-image: url(../images/slider-img-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 32px;
}
.slider_item_bottom {
    padding: 0 70px 62px;
}
.slider_item_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 37px;
    line-height: 44px;
    letter-spacing: 0.56px;
    color: #3d3e47;
    margin-bottom: 20px;
}
.arrow_form_slider {
    position: absolute;
    bottom: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.36;
    z-index: 3;
    height: 61px;
    width: 61px;
    &:hover {
        opacity: 1;
    }
    &.arrow_form_slider_prev {
        transform: rotate(180deg);
        left: -60px;
    }
    &.arrow_form_slider_next {
        right: -60px;
    }
}
.form_slider .slick-list.draggable {
    border-radius: 15px;
    box-shadow: 0px 3px 45px rgba(#000000, 0.21);
    max-height: 635px;
}
.form_slider .slick-dots {
    display: inline-block;
    margin-top: 24px;
    text-align: center;
    display: block;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    li {
        display: inline-block;
        margin-right: 30px;
    }
    button {
        background: #e4e4e4;
        border: none;
        outline: none;
        cursor: pointer;
        color: transparent;
        height: 12px;
        width: 12px;
        border-radius: 6px;
    }
    li.slick-active {
        margin-right: 21px;
        button {
            background: #ffeb00;
            width: 28px;
        }
    }
}
.form_slider .slick-disabled {
    display: none !important;
}

// end top
// start units line

.units_line {
    position: relative;
    min-height: 396px;
    margin-bottom: 48px;
}
.units_line_bg {
    position: absolute;
    top: 0;
    height: 109px;
    width: 100%;
    background-image: url(../images/units_line_bg.svg);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    margin-top: -13px;
}
.units_line_wrapper {
    display: flex;
    justify-content: space-between;
}
.unit {
    background: #ffffff;
    box-shadow: 0px 3px 30px #00000014;
    border-radius: 9px;
    width: 361px;
    height: 296px;
    z-index: 1;
    padding: 28px 40px;
    text-align: center;
    transition: all 0.3s;
    img {
        margin-bottom: 30px;
    }
    &:hover {
        min-height: 296px;
        height: 100%;
        cursor: pointer;
        transform: scale(1.1);
        .unit_text {
            min-height: 103px;
            height: 100%;
            color: #3d3e47;
        }
    }
}
.unit_text {
    height: 98px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.27px;
    color: #3d3e47c7;
    overflow: hidden;
}

// end units line
// start reasons

.reason {
    margin-bottom: 190px;
}

.reason_title {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 90px;
    letter-spacing: 0px;
    color: #143918;
    margin-bottom: 90px;
}
.reason_inner {
    position: relative;
}
.reason_bg {
    position: absolute;
    top: -380px;
    left: -642px;
}
.reason_bg_mobile,
.reason_bg_medium {
    display: none;
}
.reason_items {
    max-width: 858px;
    width: 100%;
    margin-left: auto;
    margin-bottom: 24px;
    position: relative;
}
.reason_item {
    display: flex;
    align-items: center;
    padding: 42px 35px 42px;
    transition: all 0.3s;
    border-radius: 15px;
    background: transparent;
    z-index: 10;
    &:hover {
        background: #ffffff;
        box-shadow: 0px 0px 80px #00000014;
    }
}
.reason_item_img {
    height: 154px;
    max-width: 154px;
    width: 100%;
    border-radius: 24px;
    margin-right: 63px;
    &-1 {
        background: #ffdb9e;
    }
    &-2 {
        background: #ff9e9e;
    }
    &-3 {
        background: #42d4ad;
    }
}
.reason_item_box {
    max-width: 564px;
    width: 100%;
}
.reason_item_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 37px;
    letter-spacing: 0.56px;
    color: #143918;
    text-transform: capitalize;
    margin-bottom: 6px;
}
.reason_item_text {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #3d3e47c7;
}

// end reasons
// start powerful engine

.powerful_engine {
    background: #f6fbf7;
    padding: 135px 0;
}
.powerful_engine_inner {
    position: relative;
}
.powerful_engine_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 74px;
    color: #143918;
    text-transform: capitalize;
    max-width: 515px;
    margin-bottom: 48px;
}
.engine_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    letter-spacing: 0.56px;
    color: #143918;
    max-width: 610px;
    margin-bottom: 30px;
}
.engine_text {
    margin-bottom: 30px;
    max-width: 767px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.33px;
    color: #3d3e47c7;
}
.engine_bg {
    position: absolute;
    top: -249px;
    right: -438px;
}

// end powerful engine
// start services

.services {
    padding: 65px 0 70px;
}
.services_title {
    margin-bottom: 75px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 90px;
    color: #143918;
    text-transform: capitalize;
    text-align: center;
}
.services_inner {
    display: flex;
    justify-content: space-between;
}
.services_item {
    text-align: center;
    max-width: 448px;
    width: 100%;
    img {
        height: 126px;
        width: 126px;
    }
    &_title {
        margin: 21px 0 30px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0px;
        color: #143918;
        text-transform: capitalize;
    }
}
.services_item_text {
    font-size: 22px;
    line-height: 33px;
}

// end services
// start plans

.plans {
    padding: 110px 0;
    background: #f6fbf7;
}
.plans_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 77px;
    color: #143918;
    text-transform: capitalize;
    margin-bottom: 11px;
    text-align: center;
}
.plans_text {
    letter-spacing: 0.36px;
    color: #143918;
    max-width: 842px;
    margin: 0 auto;
    margin-bottom: 67px;
    text-align: center;
}
.plans_inner {
    display: flex;
    justify-content: space-between;
    margin: 0 87px;
}
.plans_item {
    position: relative;
    max-width: 443px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #c5e1db;
    border-radius: 13px;
    padding: 57px 65px 43px;
    &.plans_item_sale {
        .sale_label {
            display: block;
        }
    }
}
.sale_label {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 25px;
    background: #f6e266;
    border-radius: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.26px;
    color: #d09b40;
}
.plans_price {
    position: relative;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #3d3e47;
    margin-bottom: 18px;
    padding-left: 47px;
    &.plans_price_free {
        font-weight: 400;
        color: #3d3e4778;
    }
    &::before {
        content: url(../images/price.svg);
        height: 37px;
        width: 37px;
        position: absolute;
        top: -4px;
        left: 0;
    }
}
.plans_name {
    font-weight: 400;
    font-size: 39px;
    line-height: 52px;
    color: #3d3e47;
    margin-bottom: 17px;
}
.plans_for {
    font-size: 22px;
    line-height: 30px;
    color: #3d3e47c7;
    margin-bottom: 90px;
    max-width: 233px;
}
.plans_description {
    margin-bottom: 56px;
    li {
        font-size: 22px;
        line-height: 33px;
        color: #3d3e4742;
        padding-left: 47px;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            content: url(../images/check-circle.svg);
            height: 33px;
            width: 33px;
            margin-right: 14px;
        }
        & + li {
            margin-top: 28px;
        }
        &.plans_description_active {
            color: #3d3e47;
            &::before {
                content: url(../images/check-circle-active.svg);
            }
        }
    }
}
.plans_btn {
    font-size: 23px;
    line-height: 31px;
    color: #3d3e47;
    border: 1px solid #3d3e47;
    border-radius: 15px;
    padding: 24px;
    max-width: 311px;
    width: 100%;
    text-align: center;
    &.plans_btn_active {
        border: none;
        color: #ffffff;
        font-weight: 500;
        background: transparent linear-gradient(181deg, #88dd8c 0%, #49b444 100%);
    }
    &:hover {
        opacity: 0.7;
    }
}

// end plans
// start credits

.credits {
    padding: 47px;
    border-bottom: 10px solid #93e697;
    background-image: url(../images/credits-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}
.credits_inner {
    padding: 0 112px;
    display: flex;
    justify-content: space-between;
}
.credits_img {
    max-width: 493px;
    width: 100%;
    margin-right: 97px;
    img {
        width: 100%;
    }
}
.credits_info {
    max-width: 785px;
    width: 100%;
}
.credits_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 77px;
    text-transform: capitalize;
    margin-bottom: 33px;
}
.credits_text {
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.36px;
    margin-bottom: 32px;
}
.credits_buy_btn {
    padding: 24px;
    font-size: 23px;
    line-height: 30px;
    background: #3d3e47;
    border-radius: 15px;
    max-width: 312px;
    width: 100%;
    text-align: center;
    &:hover {
        opacity: 0.9;
    }
}

// end credits
// start clients

.clients {
    padding: 147px 0 127px;
    background: #f6fbf7;
}
.clients_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 76px;
    color: #143918;
    max-width: 760px;
    margin-bottom: 60px;
}
.clients_slider {
    max-width: 1791px;
    margin-left: -6px;
    margin-right: -50px;
}
.clients_slider_item {
    height: 313px;
    width: 313px !important;
    background: #ffffff;
    border-radius: 73px;
    padding: 10px;
    text-align: center;
    display: flex !important;
    align-items: center;
    margin-right: 30px;
    display: none;
    img {
        margin: 0 auto;
        width: 100%;
    }
    &:hover {
        box-shadow: 0px 0px 40px #00000010;
    }
}
.clients_slider .slick-list.draggable {
    height: 380px;
    margin-left: -25px;
    // margin-right: -50px;
    margin-top: -30px;
    padding-top: 30px;
    margin-right: -90px;
    padding-right: 90px;
}
.clients_slider .slick-slide {
    margin: 0 15px;
    border-radius: 73px;
    transition: all 0.5s;

    // div{
    //     // width: 313px !important;
    // }
}

.clients_slider .arrow_prev_client {
    display: none !important;
}
.arrow_next_client {
    position: absolute;
    right: 15px;
    top: -133px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

// end clients
// start app

.app_load {
    padding-top: 60px;
    position: relative;
    margin-left: -850px;
    padding-left: 850px;
    overflow: hidden;
}
.app_load_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 75px;
    color: #143918;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 30px;
}
.app_load_text {
    margin-bottom: 40px;
    max-width: 780px;
}
.app_load_btn_wrapper {
    position: relative;
    height: 86px;
    margin-bottom: 103px;
}
.app_load_btn {
    position: absolute;
    width: 291px;
    height: 86px;
    background: #131313;
    border-radius: 23px;
    padding: 16px;
    text-align: center;
    z-index: 1;
    &:hover {
        opacity: 0.8;
    }
}
.app_phone_img {
    position: absolute;
    right: -76px;
    bottom: -264px;
    z-index: 0;
    background-image: url(../images/phone-screen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 500px;
    height: 800px;
    .app_phone_box {
        margin-top: 50%;
        img {
            transition: all 0.4s;
            &:hover {
                cursor: pointer;
                transform: rotate(540deg);
            }
        }
    }
    span {
        font-family: "CenturyGothic-bold", sans-serif;
        margin-top: 15px;
        display: block;
        font-size: 29px;
    }
}
.footer_bg_cloud {
    position: absolute;
    left: -44px;
    bottom: -842px;
}

// end app
// start footer

.footer {
    color: #ffffff;
    padding: 79px 0 52px;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    overflow: hidden;
    a:hover {
        opacity: 0.7;
    }
}
.footer_inner {
    display: flex;
    justify-content: space-between;
}
.footer_item {
    max-width: 240px;
    width: 100%;
    &.footer_item_social {
        max-width: 320px;
        position: relative;
        li {
            display: inline-block;
        }
        .footer_item_social_inner {
            position: absolute;
            z-index: 5;
        }
    }
    &.footer_item_contact {
        max-width: 280px;
        // a {
        //     margin-bottom: 18px;
        // }
        span {
            display: block;
        }
    }
    li {
        margin-bottom: 18px;
    }
}
.footer_contact_add {
    display: none;
}
.footer_item_title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 35px;
}
.footer_site {
    font-family: "CenturyGothic-bold", sans-serif;
    font-weight: 500;
    font-size: 39px;
    line-height: 48px;
    margin-bottom: 40px;
    max-width: 320px;
    display: flex;
    align-items: center;
    img {
        height: 58px;
        width: 58px;
        margin-right: 15px;
    }
}
.footer_social_list {
    a {
        margin-right: 20px;
    }
}
.footer_bottom {
    position: relative;
}
.footer_bottom_line {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    font-size: 20px;
}
.copyright {
    line-height: 22px;
}
.footer_bottom_right {
    line-height: 27px;
    a + a {
        padding-left: 28px;
        margin-left: 28px;
        border-left: 1px solid #ffffff;
    }
}
.footer_bg_head {
    position: absolute;
    left: -475px;
    bottom: -345px;
}

// end footer
//
// end Landing page
//
// start modal

.login__wrapper {
    display: none;
    background: #ffffff;
    box-shadow: 0px 22px 51px #b1bdda29;
    border: 1px solid #e4e6f2;
    border-radius: 15px;
    max-width: 899px;
    width: 100%;
    text-align: center;
    padding: 69px;
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    input {
        max-width: 532px;
        width: 100%;
        height: 83px;
        background: #ffffff;
        border: 1px solid #e4e6f2;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 17px;
        outline: none;
        &::placeholder {
            letter-spacing: 0.36px;
            color: #2f346166;
        }
    }
}
.login__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 1.8px;
    color: #3d3e47;
    margin-bottom: 16px;
}
.login__title_border {
    background: #73cf74;
    height: 4px;
    width: 70px;
    margin: 0 auto 22px;
}
.lost_pass {
    font-weight: 500;
    letter-spacing: 0.36px;
    color: #2f3461;
    margin-bottom: 17px;
    &:hover {
        color: #49b444;
    }
}
.login_btn {
    display: block;
    max-width: 320px;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #88dd8c 0%, #49b444 100%);
    border-radius: 15px;
    padding: 24px;
    text-align: center;
    margin: 0 auto;
    border: none;
    margin-bottom: 17px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.creat_acc {
    font-weight: 500;
    letter-spacing: 0.36px;
    color: #3d3e47;
    margin-bottom: 17px;
    &:hover {
        color: #49b444;
    }
}
.continue_free {
    max-width: 320px;
    width: 100%;
    height: 80px;
    color: #ffffff;
    padding: 22px 26px 26px;
    background: #3d3e47;
    border-radius: 15px;
    &:hover {
        opacity: 0.8;
    }
    span {
        padding-bottom: 4px;
        border-bottom: 2px solid #ffffff;
    }
}
.login__wrapper .fancybox-button.fancybox-close-small {
    display: none;
}
.fancybox-bg {
    background: #17330eeb;
}

// end modal
// start modal-1:

.results_ready_wrapper {
    padding: 65px 65px 68px;
    max-width: 899px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    display: none;
}
.results_ready {
    max-width: 456px;
    width: 100%;
    color: #3d3e47;
    margin: 0 auto;
    img {
        margin: 0 auto;
    }
}
.results_ready_title {
    margin-top: 18px;
    margin-bottom: 24px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
}
.results_ready_text {
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 33px;
}
.results_continue {
    color: #ffffff;
    padding: 24px 41px;
    text-align: center;
    max-width: 363px;
    height: 80px;
    margin-bottom: 23px;
    background: #3d3e47;
    border-radius: 15px;
    &:hover {
        opacity: 0.9;
    }
}
.results_login {
    // margin: 0 auto;
    display: block;
    &:hover {
        opacity: 0.8;
    }
}
.results_ready_wrapper .fancybox-button.fancybox-close-small {
    // display: none;
    // opacity: 0;
    color: transparent;
    background-image: url(../images/notify-close-black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 31px;
    right: 31px;
}

// end modal-1

// start notifications :

// notification-0 :

.notify {
    position: relative;
    display: none;
    z-index: 10;
    max-width: 663px;
    width: 100%;
    height: 250px;
    border-radius: 12px;
    padding: 28px 37px 20px;
    position: fixed;
    bottom: 27px;
    right: 19px;
    opacity: 0;
    transition: all 0.7s;
    &:hover {
        opacity: 1;
    }
    &.notify_active {
        display: block;
    }
}

.notify.notify_learn_more,
.notify.notify_buy_credits {
    background: #ffffff;
    box-shadow: 0px 0px 20px #0606060f;
    border: 1px solid #4762f01f;
}
.notify_top {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    height: 55px;
    a {
        font-weight: 700;
        color: #000000;
        margin-right: 16px;
    }
    span {
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: #333333;
        opacity: 0.5;
    }
}
.circle_icon_logo {
    width: 55px;
    height: 55px;
    background: #ffffff;
    box-shadow: 0px 2px 12px #0000001c;
    border-radius: 50%;
    margin-right: 16px;
    img {
        transform: translate(10px, 8px);
    }
}
.notify_learn_title {
    font-size: 19px;
    line-height: 25px;
    color: #3d3e47;
    margin-bottom: 9px;
}
.notify_text {
    font-size: 16px;
    line-height: 24px;
    color: #333333b3;
    margin-bottom: 9px;
    max-width: 500px;
}
.notify_learn_btns {
    font-size: 17px;
    line-height: 23px;
    a:hover {
        opacity: 0.8;
    }
}
.notify_learn_more_btn,
.notify_buy_credits_btn {
    padding: 8px;
    color: #ffffff;
    width: 175px;
    height: 39px;
    background: linear-gradient(180deg, #88dd8c 0%, #49b444 100%);
    border-radius: 5px;
    margin-right: 44px;
    text-align: center;
}
.notify_dismiss {
    color: #3d3e47;
}
.notify_learn_border {
    position: absolute;
    left: -1px;
    bottom: 28px;
    width: 6px;
    height: 194px;
    background: linear-gradient(180deg, #88dd8c 0%, #49b444 100%);
    border-radius: 0px 20px 20px 0px;
}
.notification_close {
    position: absolute;
    top: 26px;
    right: 23px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

// notification-1 :

.notify_load_app {
    background-image: url(../images/notify-bg-green.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //
    opacity: 1; // пока для удобства просмотра
    // opacity: 0;
    //
    .notify_top {
        a {
            color: #ffffff;
        }
        span {
            color: #ffffff;
            opacity: 0.73;
        }
    }
    .notify_title {
        line-height: 25px;
        color: #ffffff;
        margin-bottom: 8px;
    }
    .notify_text {
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 8px;
    }
    .notify_app_btn {
        width: 156px;
        height: 46px;
        background: #131313;
        border-radius: 6px;
        padding: 9px 18px;
    }
    .notify_app_img {
        width: 99px;
        height: 200px;
        margin: -31px;
    }
}
.notify_load_info {
    max-width: 401px;
    width: 100%;
    margin-right: 17px;
}
.notification_load_img {
    width: 100px;
}
.notify.notify_load_app.notify_active {
    display: flex;
}

// notification-2 :

.notify.notify_long {
    background-image: url(../images/notify_long-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1343px;
    width: 100%;
    height: 173px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px 12px 0 0;
    padding: 38px 114px 31px;
    //
    opacity: 1; // пока для удобства просмотра
    // opacity: 0;
    //
    .notify_long_site {
        width: 300px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #3d3e47;
        margin-right: 50px;
    }
    .circle_icon_logo {
        height: 81px;
        width: 81px;
        margin-right: 23px;
        img {
            height: 55px;
            width: 55px;
            transform: translate(13px, 12px);
        }
    }
    .notify_long_info {
        width: 474px;
        margin-right: 70px;
    }
    .notify_title {
        font-weight: 700;
        font-size: 19px;
        line-height: 25px;
        color: #3d3e47;
        margin-bottom: 7px;
    }
    .notify_title_small {
        display: none;
        color: #3d3e47;
        font-weight: 500;
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .notify_text {
        font-size: 16px;
        line-height: 24px;
        color: #3d3e47;
        margin-bottom: 0;
    }
    .notify_long_box {
        position: relative;
    }
    .notify_app_img {
        position: absolute;
        top: -116px;
        left: -20px;
    }
    .notify_app_btn {
        position: absolute;
        width: 156px;
        height: 46px;
        background: #131313;
        border-radius: 6px;
        padding: 9px 18px;
        left: 69px;
        bottom: -62px;
    }
    .notification_close {
        top: 18px;
        right: 27px;
        img {
            width: 100%;
        }
    }
}
.notify.notify_long.notify_active {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px #0606060f;
    border: 1px solid #4762f01f;
}
.notify_download {
    display: none;
    width: 158px;
    height: 40px;
    background-color: #3d3e47;
    border-radius: 7px;
    text-align: center;
    padding: 12px 24px;
    font-size: 13px;
    line-height: 17px;
    color: #ffffff;
}

// notification-3:

.notify.notify_long.notify_long_green {
    background-image: url(../images/notify-long-green-bg.jpg);
    color: #ffffff;
    .notify_long_site,
    .notify_title,
    .notify_title_small,
    .notify_text {
        color: #ffffff;
    }
}

// notification-buy-credits:

.notify_buy_credits_btn {
    display: flex;
    align-items: center;
    img {
        margin-left: 21px;
        margin-right: 9px;
    }
    span {
        font-size: 17px;
        line-height: 20px;
        color: #ffffff;
    }
    &:hover {
        opacity: 0.9;
    }
}

// end notifications

// end Landing page

// start user_main_page

.user {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    padding-right: 30px;
    position: relative;
    &::after {
        content: url(../images/arrow-down.svg);
        position: absolute;
        right: 0;
        top: -2px;
    }
    &:hover {
        opacity: 0.7;
    }
}

// end user_main_page

// start sidebars

// sidebar_logged_in

.sidebar {
    top: 0;
    left: 0;
    max-width: 414px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 3px 23px #00000029;
    padding: 30px 67px 25px;

    position: absolute;
    z-index: 3;
    height: 100vh;
    transform: translateX(-100%);
    overflow: auto;
    &.active {
        animation: slidein 0.5s forwards ease-in-out;
    }
    &.hidden {
        animation: slideout 0.5s forwards ease-in-out;
    }
}
@keyframes slidein {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slideout {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.sidebar_logo {
    display: block;
    width: 232px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 14px;
    img {
        width: 100%;
    }
}
.user_box {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.user_img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    &::after {
        content: "";
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: #75d179;
        position: absolute;
        right: 0;
        bottom: 0;
        border: 1px solid #ffffff;
    }
}
.user_box_info {
    width: 153px;
    font-size: 20px;
    line-height: 26px;
}
.user_name {
    letter-spacing: 0.3px;
    color: #3d3e47;
}
.user_status {
    letter-spacing: 0.3px;
    color: #3d3e47;
    opacity: 0.35;
}
.user_credits,
.sidebar_user_btn {
    width: 271px;
    height: 48px;
    padding: 10px 18px 11px;
    background: #75d179;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    img {
        margin-right: 21px;
    }
    span {
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
        vertical-align: middle;
    }
    &:hover {
        opacity: 0.8;
    }
}
.user_menu {
    margin-bottom: 57px;
    li a {
        height: 48px;
        width: 100%;
        padding: 11px 11px 11px 59px;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.3px;
        color: #3d3e47;
        border-radius: 10px;
        position: relative;
        img {
            position: absolute;
            left: 18px;
            bottom: 13px;
        }
        &:hover {
            background: #b1bdda29;
        }
    }
}
.upgrate_box {
    width: 280px;
    height: 259px;
    background: #f6fbf7;
    border-radius: 17px;
    position: relative;
    padding: 32px 40px;
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
        position: absolute;
        z-index: 3;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.upgrate_box_inner {
    width: 196px;
    margin-top: -55px;
    z-index: 2;
    position: absolute;
    bottom: 32px;
}
.upgrate_box_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #3d3e47;
    margin-bottom: 9px;
}
.upgrate_box_text {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.23px;
    color: #3d3e47;
    margin-bottom: 9px;
}
.upgrate_box_btn {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #ffffff;
    background: #3d3e47;
    border-radius: 7px;
    width: 200px;
    height: 41px;
    padding: 9px;
    text-align: center;
    &:hover {
        opacity: 0.8;
    }
}
.upgrate_box_bg {
    position: absolute;
    bottom: 78px;
    left: 18px;
    z-index: 1;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 272px;
    color: #ebf6ed;
}

// start sidebar_logged_out :

.sidebar_logged_out {
    .user_box {
        display: none;
    }
    .user_menu {
        margin-bottom: 142px;
    }
}
.sidebar_user_btn_login {
    span {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// end sidebars

//

// start research_result page

.header_result {
    color: #3d3e47;
    box-shadow: 0px 4px 49px #0000000a;
    margin-bottom: 53px;
    .user {
        color: #3d3e47;
        margin-left: 36px;
        &:after {
            content: url(../images/arrow-down-black.svg);
        }
    }
    a:hover {
        opacity: 0.7;
    }
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}
.results_content {
    margin-bottom: 70px;
}
.results_content_inner {
    display: flex;
    justify-content: space-between;
}
.results_content_left {
    max-width: 950px;
    width: 100%;
}
.results_top {
    position: relative;
    height: 230px;
    border-radius: 5px;
    margin-bottom: 19px;
}
.results_top_inner {
    position: absolute;
    z-index: 1;
    height: 230px;
    padding: 27px 23px 31px;
    border: 1px solid #3d3e47;
    border-radius: 5px;
    &.results_top_inner_red {
        background-color: rgba($color: #ffc2c2, $alpha: 0.9);
        border: 1px solid #f26065;
    }
}
.result_top_red_bg {
    display: none;
    position: absolute;
    z-index: 0;
    bottom: -7px;
    right: 0;
    &.result_top_red_bg_active {
        display: block;
    }
}
.results_top_title {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    line-height: 56px;
    color: #f26065;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    img {
        margin-right: 18px;
    }
    .score {
        color: #3d3e47;
        font-weight: 500;
        margin-right: 12px;
    }
}
.results_top_text {
    height: 98px;
    overflow: hidden;
}
.results_sources_title {
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 16px;
}
.results_sources_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 22px 51px #b1bdda29;
    border: 1px solid #e4e6f2;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 23px 41px;
}
.results_sources_text {
    max-width: 681px;
    width: 100%;
    img {
        height: 24px;
        width: 24px;
        transform: translateY(3px);
        margin-right: 3px;
    }
}
.results_sources_percent {
    width: 140px;
    height: 87px;
    border: 1px solid #3d3e47;
    border-radius: 6px;
    text-align: center;
    padding: 24px 19px;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.45px;
    color: #3d3e47;
    margin-left: 32px;
    &.results_sources_percent_green {
        background: #d4edda;
        color: #2b612d;
        border: none;
    }
    &.results_sources_percent_red {
        background: #ffc2c2;
        color: #f26065;
        border: none;
    }
    &.results_sources_percent_yellow {
        background: #fff3cd;
        color: #856404;
        border: none;
    }
}
.results_login_form {
    margin-left: 87px;
    max-width: 593px;
    width: 100%;
    min-height: 816px;
    padding: 60px 80px;
    box-shadow: 0px 22px 51px #b1bdda29;
    border: 1px solid #e4e6f2;
    border-radius: 5px;
    text-align: center;
}
.results_login_form_title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 1.57px;
    color: #3d3e47;
    margin-bottom: 17px;
}
.results_login_form_border {
    height: 4px;
    width: 77px;
    border-radius: 2px;
    background: #73cf74;
    margin: 0 auto;
    margin-bottom: 23px;
}
.results_creat_acc {
    letter-spacing: 0.36px;
    color: #3d3e47;
    margin-bottom: 26px;
    &:hover {
        color: #49b444;
    }
}
.login__email,
.login__pass {
    max-width: 432px;
    width: 100%;
    height: 83px;
    background: #ffffff;
    border: 1px solid #e4e6f2;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-bottom: 17px;
    text-align: center;
    &::placeholder {
        letter-spacing: 0.36px;
        color: #2f346166;
    }
}
.results_login_or {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.results_login_or_border {
    max-width: 185px;
    width: 100%;
    height: 4px;
    background: #f6f6fa;
    border-radius: 2px;
}
.results_login_or_text {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 1.17px;
    color: #3d3e47;
    margin: 0 15px;
}
.results_login_with {
    max-width: 432px;
    width: 100%;
    height: 83px;
    padding: 26px 70px;
    text-align: center;
    background: #eff1f7;
    border: 1px solid #e4e6f2;
    border-radius: 10px;
    letter-spacing: 0.36px;
    color: #2f346166;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    span {
        display: block;
    }
    &:hover {
        opacity: 0.7;
    }
}
.results_login_with_facebook {
    span {
        margin-left: 38px;
    }
}
.results_login_with_google {
    span {
        margin-left: 31px;
    }
}
.results_login_btn {
    margin-top: 9px;
    margin-bottom: 0;
}

// end research_result page

// start research_result - 1 page

.new_check {
    width: 214px;
    height: 60px;
    padding: 16px;
    text-align: center;
    font-size: 21px;
    line-height: 28px;
    color: #ffffff;
    background: linear-gradient(180deg, #88dd8c 0%, #6cc570 100%);
    border-radius: 15px;
    &:hover {
        opacity: 0.9;
    }
}
.results_content_right_col {
    max-width: 588px;
    width: 100%;
}
.more_features_title {
    font-size: 40px;
    line-height: 56px;
    font-weight: 500;
    margin-bottom: 15px;
}
.more_features_item {
    display: flex;
    align-items: center;
    padding: 41px 60px;
    box-shadow: 0px 22px 51px #b1bdda29;
    border: 1px solid #e4e6f2;
    border-radius: 5px;
    width: 100%;
    height: 185px;
    margin-bottom: 10px;
    img {
        margin-right: 20px;
    }
}
.more_features_item_title {
    font-weight: 700;
    letter-spacing: 0.36px;
    margin-bottom: 5px;
}
.more_features_item_text {
    height: 67px;
    overflow: hidden;
}
.more_credits {
    margin-top: 5px;
}
.more_credits_title {
    font-size: 40px;
    line-height: 56px;
    font-weight: 500;
    margin-bottom: 15px;
}
.more_credits_item {
    height: 115px;
    box-shadow: 0px 22px 51px #b1bdda29;
    border: 1px solid #e4e6f2;
    border-radius: 7px;
    padding: 22px 57px 22px 27px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .img_box{
        margin-right: 11px;
        width: 81px;
        text-align: right;
    }
    span{
        font-size: 26px;
        line-height: 59px;
        margin-right: 92px;
    }   
}
.purchase{
    font-size: 18px;
    line-height: 27px;
    width: 187px;
height: 46px;
border: 1px solid #3D3E47;
border-radius: 8px;
padding: 10px 23px;
}

// end research_result - 1 page

@import "_media";
